# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env
.env*.local
.env.*

# IDEs and editors
.vscode/
.idea/

# Build and cache
/build/
.cache/
coverage/

# ESLint
.eslintcache

# Jest
jest.config.js

# Logs
*.log

# Typescript
*.tsbuildinfo